<app-header></app-header>
<div class="container">
  <div
    *ngIf="isAlertOn && notification !== null"
    [ngClass]="{
      'alert alert-dismissible fade show': true,
      'alert-danger': notification.getType() === 'error',
      'alert-success': notification.getType() === 'success'
    }"
    role="alert"
  >
    <strong>{{ notification.getType() }}!</strong>
    {{ notification.getMessage() }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
      (click)="hideAlert()"
    ></button>
  </div>
  <button
    type="button"
    class="btn btn-primary mt-3"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Add Pokemon
  </button>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Pokemon</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addPokemonForm">
            <input
              type="text"
              formControlName="name"
              required
              class="form-control my-2"
              placeholder="Pokemon Name"
              aria-label="Name"
              aria-describedby="basic-addon1"
            />
            <input
              type="text"
              formControlName="speciality"
              required
              class="form-control my-2"
              placeholder="Pokemon Speciality"
              aria-label="Speciality"
              aria-describedby="basic-addon1"
            />
            <input
              type="text"
              formControlName="imageUrl"
              required
              class="form-control my-2"
              placeholder="Pokemon Image Url"
              aria-label="ImageUrl"
              aria-describedby="basic-addon1"
            />
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="addPokemon()"
            data-bs-dismiss="modal"
          >
            Add Pokemon
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="this.allPokemon.length === 0; else pokemonsTable">
    There is No Pokemon...
  </div>
  <ng-template #pokemonsTable>
    <div>
      <app-pokemon
        *ngFor="let pokemon of allPokemon"
        [pokemon]="pokemon"
      ></app-pokemon>
    </div>
  </ng-template>
</div>
